node_modules
npm-debug.log
yarn-error.log
.git
.gitignore
README.md
.env
.env.local
.vscode
.idea
*.log
storage/logs
storage/framework
bootstrap/cache
public/storage
vendor
.DS_Store
tests
phpunit.xml
.php_cs
.styleci.yml
