<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirecionar tudo para vistoria/public
    RewriteCond %{REQUEST_URI} !^/vistoria/public/
    RewriteRule ^(.*)$ /vistoria/public/$1 [L,QSA]
</IfModule>
